.header-right {
    min-width: 15vw;
}

.profile img {
    border-radius: 50%;
    border: 1px solid #eee;
    margin-left: 1vw;
    cursor: pointer;
}

.profile img:hover {
    background: #eee;
    padding: 2px;
    transition: 0.25s ease
}

.progress-bar:hover {
    background: blueviolet;
    transition: 0.2s ease;
}

.main {
    display: grid;
    margin-top: 76px;
    height: 100vh;
    background: #eee;
}

.flip-card {
    /* perspective: 1000px; */
}

.flip-card .card-back {
    transform: rotateX(180deg);
    z-index: -1;
    position: absolute;
}

.flip-card .card-body {
    transform: rotateX(180deg);
}

.flip-card:hover {
    transform: rotateX(-180deg);
    transition: 0.25s ease;
}

.flip-card:hover .card-img-top {
    transform: rotateX(-180deg);
    transition: 0.25s ease;
}

.flip-card:hover .card-body {
    transform: rotateX(-90deg);
    transition: 0.25s ease;
}

.reading-box {
    position: relative;
    top: 76px;
}

.box-lid-menu {
    top: 76px !important;
}

@media (max-width: 48em) {
    .non-mobile {
        display: none;
    }
}